/* Aqui está el apartado en general, es para que todos mis archivos tenga la misma fuente, color y centrado.*/
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000;
}
a:hover {
  background-color: gold;
}

/* Aparado de Mi Portafolio */

h1 {
  padding: 2px;
  text-align: center;
}
#project {
  padding: relative;
  text-align: center;
}

#about-me {
}
/* Aparado de imagenes y texto de las mascotas*/

#rotw img {
  margin-top: auto;
  height: 454px;
  width: 675px;
}
#cane img {
  height: 454px;
  width: 675px;
}

#dogo img {
  height: 454px;
  width: 675px;
}
