a:hover {
  background-color: gold;
}

/* Aparado de Mi Portafolio */

header {
  font-family: monospace;
  background-color: whitesmoke;
}
.header-main h1 {
  font-style: italic;
  background-color: beige;
  text-align: left;
}

.item ul {
  text-decoration: none;
  justify-content: space-around;
  margin-inline-start: 3%;
  align-items: center;
  display: flex;
}

/* Seccion de Acerca de mí */
#about-me {
  background-color: aqua;
}

#about-me h2 {
  text-align: center;
  padding: 3%;
}

#about-me p {
  padding: 3%;
  text-align: center;
}

/* Seccion de mis proyectos. */
#project h2 {
  justify-content: center;
  display: flex;
  background-color: palevioletred;
}

#project ul {
  display: flexbox;
  padding: 3%;
  justify-content: space-around;
  margin-inline-start: 3%;
  align-items: center;
  display: flex;
  background-color: brown;
}

/* seccion de contacto */
#contact {
  display: flex;
  padding-bottom: 100%;
  display: table-row;
  background-color: cadetblue;
}

footer {
  color: black;
  text-align: center;
}

.projects {
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 10px solid black;
  text-align: center;
}

.container-project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
}

/* Apartado de Diseño de los animales */

button {
  background-color: aquamarine;
  text-decoration: none;
}

h1 {
  text-align: start;
  text-align: center;
  background-color: blue;
}
.animales h2 {
  background-color: aqua;
  justify-content: center;
}
.animales img {
  justify-content: space-around;
  width: 275px;
  height: 300px;
}

.animales {
  display: flex;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
}
.div2 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.div3 {
  grid-column-start: 3;
  grid-row-start: 1;
}

.div4 {
  grid-column-start: 4;
  grid-row-start: 2;
}

.div5 {
  grid-column-start: 5;
  grid-row-start: 1;
}

.div6 {
  grid-column-start: 6;
  grid-row-start: 2;
}
